* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.color-orange {
  color: orange;
}

.bg-color-orange {
  background-color: orange;
}

.circle {
  width: 300px;
  aspect-ratio: 1/1;
}

.vertical-range {
  rotate: 270deg;
  margin: 3rem 0rem;
}

.timer-control {
  width: 75px;
  aspect-ratio: 1/1;
  text-align: center;
}

.timer-control:hover {
  color: orange;
}